* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainContainer {
  background-color: rgba(121, 29, 171, 0.584);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
  background-position: center;
  background-size: cover;
}

.Header {
  background-color: rgb(252, 252, 252);
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid black;
}

.Header nav a {
  text-decoration: none;
  position: relative;
  margin: auto;
  padding: 0px 30px;
  font-size: xx-large;
  color: black;
}

.Header nav a img {
  height: 5rem;
  margin: 25px 50px;
}

.Header nav a:after {
  content: "";
  position: absolute;
  bottom: 1rem;
  right: 0px;
  width: 0%;
  height: 1px;
  background: black;
  border-radius: 3px;
  transition: width 0.5s;
}

.Header nav a:hover:after {
  width: 100%;
}

.Header nav a img:active {
  transform: scale(0.925);
}
.twitchContainer {
  border-radius: 5rem;
  margin: 10rem;
  height: 1080px;
  width: 1920px;
}

#twitchVod {
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: 1rem solid white;
}

#profilePic {
  margin: auto;
  padding: 10px;
  background-color: white;
  border: 5px solid black;
  border-radius: 100%;
  height: 25%;
}

.sections {
  background-color: white;
  font-size: xx-large;
  margin: 2rem 10rem;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
}

@media only screen and (max-width: 1920px){ 
      
      .Header nav a img {
        height: 3rem;
        width: 3rem;
        margin: 25px 40px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 720px;
        width: 1280px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: 1rem solid white;
        width: 1200px;
      }
      
      #profilePic {
        margin-top: 4rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size: x-large;
        margin: 1rem 5rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}

@media only screen and (max-width: 1200px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .mainContainer {
        background-color: rgba(121, 29, 171, 0.584);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
        background-position: center;
        background-size: cover;
      }
      
      .Header {
        background-color: rgb(252, 252, 252);
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid black;
      }
      
      .Header nav a {
        text-decoration: none;
        position: relative;
        margin: auto;
        padding: 0px 10px;
        font-size: xx-large;
        color: black;
      }
      
      .Header nav a img {
        height: 2.5rem;
        width: 2.5rem;
        margin: 25px 50px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 580px;
        width: 1000px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: 1rem solid white;
        width: 1200px;
      }
      
      #profilePic {
        margin-top: 4rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size: large;
        margin: 1rem 5rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}

@media only screen and (max-width: 1024px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .mainContainer {
        background-color: rgba(121, 29, 171, 0.584);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
        background-position: center;
        background-size: cover;
      }
      
      .Header {
        background-color: rgb(252, 252, 252);
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid black;
      }
      
      .Header nav a {
        text-decoration: none;
        position: relative;
        margin: auto;
        padding: 0px 10px;
        font-size: xx-large;
        color: black;
      }
      
      .Header nav a img {
        height: 2.5rem;
        width: 2.5rem;
        margin: 25px 25px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 500px;
        width: 875px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: 1rem solid white;
        width: 1200px;
      }
      
      #profilePic {
        margin-top: 3rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size: large;
        margin: 1rem 5rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}

@media only screen and (max-width: 900px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .mainContainer {
        background-color: rgba(121, 29, 171, 0.584);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
        background-position: center;
        background-size: cover;
      }
      
      .Header {
        background-color: rgb(252, 252, 252);
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid black;
      }
      
      .Header nav a {
        text-decoration: none;
        position: relative;
        margin: auto;
        padding: 0px 10px;
        font-size: xx-large;
        color: black;
      }
      
      .Header nav a img {
        height: 2.5rem;
        width: 2.5rem;
        margin: 25px 25px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 420px;
        width: 720px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: 1rem solid white;
        width: 1200px;
      }
      
      #profilePic {
        margin-top: 4rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size: large;
        margin: 1rem 5rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}

@media only screen and (max-width: 768px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .mainContainer {
        background-color: rgba(121, 29, 171, 0.584);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
        background-position: center;
        background-size: cover;
      }
      
      .Header {
        background-color: rgb(252, 252, 252);
        height: 5.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid black;
      }
      
      .Header nav a {
        text-decoration: none;
        position: relative;
        margin: auto;
        padding: 0px 10px;
        font-size: xx-large;
        color: black;
      }
      
      .Header nav a img {
        height: 2.25rem;
        width: 2.25rem;
        margin: 20px 20px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 400px;
        width: 650px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: 1rem solid white;
        width: 1200px;
      }
      
      #profilePic {
        margin-top: 4rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size: large;
        margin: 1rem 5rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}

@media only screen and (max-width: 600px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .mainContainer {
        background-color: rgba(121, 29, 171, 0.584);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
        background-position: center;
        background-size: cover;
      }
      
      .Header {
        background-color: rgb(252, 252, 252);
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid black;
      }
      
      .Header nav a {
        text-decoration: none;
        position: relative;
        margin: auto;
        padding: 0px 10px;
        font-size: xx-large;
        color: black;
      }
      
      .Header nav a img {
        height: 2rem;
        width: 2rem;
        margin: 20px 10px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 310px;
        width: 525px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: 1rem solid white;
        width: 1200px;
      }
      
      #profilePic {
        margin-top: 4rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size:medium;
        margin: 1rem 4rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}

@media only screen and (max-width: 480px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .mainContainer {
        background-color: rgba(121, 29, 171, 0.584);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
        background-position: center;
        background-size: cover;
      }
      
      .Header {
        background-color: rgb(252, 252, 252);
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid black;
      }
      
      .Header nav a {
        text-decoration: none;
        position: relative;
        margin: auto;
        padding: 0px 10px;
        font-size: xx-large;
        color: black;
      }
      
      .Header nav a img {
        height: 1.75rem;
        width: 1.75rem;
        margin: 20px 10px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 250px;
        width: 440px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: .5rem solid white;
      }
      
      #profilePic {
        margin-top: 4rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size:medium;
        margin: 1rem 3rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}

@media only screen and (max-width: 320px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .mainContainer {
        background-color: rgba(121, 29, 171, 0.584);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: url(./images/artistic-collage-wallpaper-3840x2160_54.jpg);
        background-position: center;
        background-size: cover;
      }
      
      .Header {
        background-color: rgb(252, 252, 252);
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 5px solid black;
      }
      
      .Header nav a {
        text-decoration: none;
        position: relative;
        margin: auto;
        color: black;
      }
      
      .Header nav a img {
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0px;
      }
      
      .Header nav a:after {
        content: "";
        position: absolute;
        bottom: 1rem;
        right: 0px;
        width: 0%;
        height: 1px;
        background: black;
        border-radius: 3px;
        transition: width 0.5s;
      }
      
      .Header nav a:hover:after {
        width: 100%;
      }
      
      .Header nav a img:active {
        transform: scale(0.925);
      }
      
      .twitchContainer {
        border-radius: 5rem;
        margin: auto;
        height: 170px;
        width: 290px;
      }
      
      #twitchVod {
        margin: 2rem 0;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        border: .5rem solid white;
      }
      
      #profilePic {
        margin-top: 4rem;
        padding: 10px;
        background-color: white;
        border: 5px solid black;
        border-radius: 100%;
        width: 35%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      
      .sections {
        background-color: white;
        font-size:small;
        margin: 1rem;
        text-align: center;
        padding: 2rem;
        border-radius: 2rem;
      }
}